.filterNav {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.button {
  padding: 4px 10px;
  background: none;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  color: var(--ifm-navbar-link-color);
  font-size: 14px;
}

.button:hover {
  border-color: var(--ifm-color-primary);
}

.active {
  border-color: var(--ifm-color-primary);
  color: var(--ifm-color-primary);
}
