/* FilterCategories.modules.css */

.gridLayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 8px 34px 0 8px;
    /* Enable scrolling if overflow */
  overflow-x: auto;

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE, Edge */
  -ms-overflow-style: none;
}

/* Larger Screen 21 inch */
@media (min-width: 1800px) {
  .gridLayout {
    grid-template-columns: repeat(6, 1fr);
  }
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* corrected from 'left' */
  text-align: left;
}

.image {
  background-color: rgba(128, 128, 128, 0.062);
  width: 240px;
  height: 238px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 8px;
}

.image:hover {
  transform: scale(1.05);
}

.productName {
  text-align: start;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.title {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

/* Responsive styles */
@media (max-width: 768px) {
  .gridLayout {
    grid-template-columns: repeat(2, 1fr);
    padding: 4px;
    gap: 8px;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .productName {
    font-size: 10px;
  }

  .title {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  .mainContent {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }

  .pageWrapper {
    flex-direction: column;
  }
}
