.gridLayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 3 per row */
  gap: 1rem;
  /* padding-bottom: 1rem; */
  padding: 8px 34px 0 8px;
}

/* Larger Screen 21 inch */
@media (min-width: 1800px) {
  .gridLayout{
    grid-template-columns: repeat(6, 1fr);
  }
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.image {
  background-color: rgba(128, 128, 128, 0.062);
  width: 240px;
  height: 238px;
  /* width: 100%;
  height: auto; */
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 8px;
}

.image:hover {
  transform: scale(1.05);
}

.productName {
  text-align: start;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.title {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

/* Dark Mode */

/* Mobile View - Show only 1 card per row */
@media (max-width: 768px) {
  .gridLayout {
    grid-template-columns: 1fr; /* Only one column */
    padding: 8px;               /* Reduce side padding for mobile */
  }

  .image {
    width: 100%; /* Let image fill the card */
    height: auto;
  }
}
